.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 200px;
}
.nav-items {
  margin-top: 20px;
}
.nav-items > ul {
  display: flex;
  padding: 0px 20px;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  width: 200px;
  background-color: #f0f0f0;
  padding: 5px;
  margin: 5px;
  /* text-align: center; */
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.res-logo {
  width: 182px;
  height: 148px;
  margin-left: 8px;
  margin-top: 7px;
}
